.header-menu {
    &__burger {
        cursor: pointer;
		transition: none;
		
		transform-origin: center;
		width: 50px;
		height: 40px;
		margin-left: -25%;
		position: relative;
        span {
            width: 50%;
            height: 2px;
            background: #000;
            display: block;
			transform-origin: right center;
			position: absolute;
			top: 50%;
			margin-top: -1px;
			left: 25%;
			transition: transform .5s;
			&:first-child {
				transform: translateY(-9px);
			}
			&:last-child {
				transform: translateY(9px);
			}
        }
		&.anim-hover--start {
		  transition: transform .5s;
			transform: rotate(180deg);
			span:first-child {
				transform: rotate(45deg) scaleX(0.5) translateY(50%);
			}
			span:first-child + span {
				transform: translateX(-1px);
			}
			span:last-child {
				transform: rotate(-45deg) scaleX(0.5) translateY(-50%);
			}
		}
		&.anim-hover--end {
			transition: transform .5s;
			transform: rotate(360deg);
			span {
				transform: none;
				&:first-child {
					transform: translateY(-9px);
				}
				&:last-child{
					transform: translateY(9px);
				}
			}
		}
		&.anim-click--play {
			transform: rotate(180deg) translateY(-2px);
			transition: transform .1s;
		}
	}
}
