@import "../../colors.css";
@import "../../media.css";

.header {
    background: white;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 15;
	transition: left .3s, right .3s, background .3s;
	order: -10;
	& + div > div:first-of-type {
		padding-top: 80px;
		.home-page & {
			padding-top: 0;
		}
	}
	&--transparent {
		background: transparent;
		& + div > div:first-of-type {
			padding-top: 0;
		}
	}
    &__wrap {
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%);
		.logo {
			fill: #212121;
			height: 51px;
			.header--transparent & {
				fill: #fff;
			}
		}
    }
    &__right {
        display: flex;
		height: 100%;
		justify-content: flex-end;
		align-items: stretch;
		margin-right: -15px;
		.header--transparent & {
			opacity: 0;
			pointer-events: none;
		}
    }
    &__link {
        width: 80px;
        margin-left: 20px;
        text-align: right;
        a {
            text-decoration: none;
            color: var(--main-gray);
        }
		button {
			color: var(--main-gray);
			display: block;
			width: 100%;
			height: 100%;
			padding: 0;
			border: 0;
			background: none;
			outline: none;
			&:focus {
				outline: none;
			}
		}
		.i-icon {
			fill: currentColor;
			height: 20px;
			width: auto;
			max-width: 30px;
			&--stroke {
				width: 20px;
				fill: none;
				stroke: currentColor;
			}
			& + span {
				margin-left: 5px;
				&:empty {
					display: none;
				}
			}
		}
		.header__right & {
			margin-left: 0;
			text-align: center;
			height: 100%;
			font-size: 18px;
			font-family: 'Bebas Neue Book';
			a, button {
				display: flex;
				width: 100%;
				height: 100%;
				padding: 10px;
				justify-content: center;
				align-items: center;
				transition: background .3s ease;
				&:hover {
					background: var(--main-brown);
					color: white;
				}
			}
			.search-btn .i-icon {
				display: block;
				margin: auto;
				.bx-ie & {
					margin: 0;
				}
			}
		}
    }
}

@media (--small-down) {
    .header {
        &__right {
            display: none;
        }
    }
}
@media (--mobile){
	.header {
		border-bottom: 1px solid var(--light-gray);
		& + div > div:first-of-type {
			padding-top: 72px;
		}
		&--transparent {
			border-bottom-color: transparent;
			& + div > div:first-of-type {
				padding-top: 0;
			}
		}
		&__wrap {
			height: 71px;
		}
		&__logo {
			position: relative;
			top: auto;
			left: auto;
			width: 33%;
			transform: translate(0,10%);
			.logo {
				width: 100%;
			}
		}
	}
}