@import "../colors.css";
@import "../media.css";

.btn {
    display: inline-block;
    padding: 9px 20px;
    background: white;
    color: var(--main-brown);
    border: 1px solid currentColor;
    font-size: 18px;
    text-decoration: none;
    font-family: "MyriadPro", "Roboto", sans-serif;
	box-sizing: border-box;
	&:hover {
		background-color: var(--main-brown);
		border-color: var(--main-brown);
		color: white;
	}
	&[class*="medium"]{
		padding: 1em 90px;
		.sales-slider & {
			padding: 1em 50px;
		}
	}
	&[class*="--big"] {
		padding: 13px 20px;
		width: 100%;
	}
	&[class*="--fullwidth"]{
		width: 100%;
	}
	&[class*="--center"]{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 235px;
		text-align: center;
	}
	&[class*="--square"] {
		width: 40px;
		height: 40px;
		padding: 3px;
		.i-icon {
			width: 100%;
		}
	}
	&[class*="--primary"] {
		background: var(--main-brown);
		color: white;
		border-color: var(--main-brown);
	}
	&[class*="--dark"] {
		background: var(--dark-gray);
		border-color: var(--dark-gray);
		color: white;
		transition: .2s;
		&:hover {
			background: var(--main-brown);
			border-color: var(--main-brown);
		}
		&[class*="--main-anim"]:hover {
			background: var(--dark-gray);
			border-color: var(--dark-gray);
		}
	}
	&[class*="--with-icon"] {
		.i-icon {
			fill: currentColor;
			width: 30px;
			height: 22px;
			margin-right: 20px;
			vertical-align: middle;
			&--stroke {
				fill: none;
				stroke: currentColor;
			}
			&--small {
				width: 1em;
				height: 0.8em;
			}
		}
	}
	&[class*="--only-icon"] {
		.i-icon {
			fill: currentColor;
			margin: 0;
			vertical-align: middle;
			text-align: center;
			&--stroke {
				fill: none;
				stroke: currentColor;
			}
		}
	}
	&[class*="--flat"]{
		background: none;
		border: none;
		color: inherit;
	}
	&[class*="--flat-gray"] {
		background: #dcdcdc;
		border-color: #dcdcdc;
		color: #9b9b9c;
		transition: .2s;
		&:hover {
			background: var(--main-brown);
			border-color: var(--main-brown);
			color: white;
		}
	}
	&[class*="--flat-light-gray"] {
		background: #e5e5e5;
		border-color: #e5e5e5;
		color: #b6b6b6;
		transition: .2s;
		&:hover {
			background: var(--main-brown);
			border-color: var(--main-brown);
			color: white;
		}
	}
	&[class*="--main-anim"]{
		position: relative;
		overflow: hidden;
		>.btn-text {
			display: inline-block;
			transform: translate3d(0, 0, 0);
			transition: transform .3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		>.i-icon {
			position: absolute;
			left: auto;
			display: block;
			margin-left: -10px;
			transform: translate3d(-40px, 2.5em, 0);
			transition: transform .3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		&.btn-add-to-cart > .i-icon {
			margin-left: 10px;
		}
		&[class*="--medium"] .i-icon {
			margin-left: -40px;
		}
		&:hover {
			>.btn-text {
				transform: translate3d(10px, 0, 0);
			}
			>.i-icon {
				transform: translate3d(0, 0, 0);
			}
		}
		&.anim-click--play {
			>.btn-text,
			>.i-icon {
				transform: translateY(2px);
				transition: .3s;
			}
		}
	}
	&.anim-click--play {
		>.btn-text,
		>.i-icon {
			transform: translateY(2px);
			transition: .3s;
		}
	}
    span {
        vertical-align: middle;
		will-change: transform;
		display: inline-block;
		span {
			vertical-align: baseline;
		}
    }
    .i-icon {
        margin-right: 3px;
		will-change: transform;
    }
    &--transparent,
	&[class*="--transparent"] {
        background-color: transparent;
		&:hover {
			background-color: var(--main-brown);
			border-color:  var(--main-brown);
			color: white;
		}
    }
	&--transparent--white {
		color: white;
		&:hover {
			background-color: white;
			color: var(--main-brown);
		}
	}
    &--arrow {
        text-align: left;
        background-image:  svg('arrow-right', '[fill]: var(--main-brown)');
        background-repeat: no-repeat;
        background-position: right 10% center;
        padding-right: 86px;
		&.btn--transparent:hover {
			background-image:  svg('arrow-right', '[fill]: white');
		}
    }
	&--mail {
		text-align: left;
        background-image:  svg('mail', '[fill]: var(--main-brown)');
        background-repeat: no-repeat;
        background-position: right 10% center;
		background-size: auto 15px;
        padding-right: 50px;
		&.btn--transparent {
			background-image:  svg('mail', '[fill]: var(--main-brown)');
		}
		&.btn--transparent {
			&:hover {
				background-image:  svg('mail', '[fill]: white');
			}
			&--white:hover {
				background-image:  svg('mail', '[fill]: var(--main-brown)');
			}
		}
		&.btn--transparent--white {
			background-image:  svg('mail', '[fill]: white');
			&:hover {
				background-image:  svg('mail', '[fill]: var(--main-brown)');
				background-color: white;
				color: var(--main-brown);
			}
		}
	}
	&--like ,
	&--like[class*="--with-icon"] {
		color: var(--main-brown);
		border-color: #e8e8e8;
		position: relative;
		.i-icon {
			stroke: currentColor;
			height: 20px;
			margin-top: -5px;
			fill: none;
			margin-right: 10px;
		}
		&::after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			right: -9px;
			top: 50%;
			margin-top: -5px;
			border-left: 10px solid white;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
		}
		&:hover {
			background: var(--main-brown);
			color: white;
			.i-icon {
				fill: currentColor;
				stroke: none;
			}
			&::after {
				border-left-color: var(--main-brown);
			}
		}
	}
	&-delete {
		position: relative;
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1em;
			height: 2px;
			margin-top: -1px;
			margin-left: -0.5em;
			transform-origin: center;
			background: currentColor;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
	&.btn-feed-back {
		position: fixed;
		right: 0;
		top: 105px;
		padding: 7px;
		vertical-align: sub;
		z-index: 1;
		transition: transform .3s;
		.page-aside.open ~ .page & {
			transform: translateX(100%);
		}
	}
	
	&.btn-filter {
		position: absolute;
		left: -40px;
		bottom: 180px;
		z-index: 10;
		padding: 7px 3px 10px;
		.page-aside.open ~ .page & {
			display: none;
		}
	}
	&.btn-close {
		position: relative;
		font-size: 10px;
		padding: 1em;
		width: 4em;
		height: 4em;
		color: var(--main-brown);
		transform-origin: center;
		transition: transform .3s;
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 2em;
			height: 2px;
			top: 50%;
			margin-top: -1px;
			left: 1em;
			transform-origin: center;
			background: currentColor;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
		&:hover {
			transform: rotate(90deg);
		}
		&.anim-click--play {
			transform: translateY(1px) rotate(90deg);
			transition: transform .2s;
		}
		.filter--aside & {
			float: right;
			top: 10px;
			right: 15px;
			border-color: transparent;
			background: transparent;
			color: var(--main-gray);
		}
	}
	&.btn-favorite:hover,
	&.btn-favorite.added {
		.i-icon.i-icon--stroke {
			fill: white;
		}
	}
	&.btn-print {
		&:hover {
			background-color: var(--dark-gray);
			border-color: var(--dark-gray);
		}
		.i-icon {
			fill: var(--main-brown);
		}
		&:hover .i-icon {
			fill: white;
		}
	}
	&.btn--arrow-back {
		padding-right: 40px;
		margin-top: 27px;
		.i-icon {
			transform: rotate(180deg);
			height: 14px;
		}
	}
	&.btn-star {
		color: #e4e4e4;
		&:hover,
		&.selected {
			color: var(--main-brown);
		}
		.i-icon {
			stroke: currentColor;
			fill: none;
		}
		&.selected .i-icon {
			fill: currentColor;
		}
	}
	&--link {
		font-family: "MyriadPro", Roboto, sans-saref;
		font-size: 18px;
		text-decoration: none;
		background: none;
		border: 0;
		padding: 0;
		border-bottom: 1px dashed currentColor;
		color: var(--dark-gray);
	}
}
@media (--small-down){
	.btn {
		&[class*="--main-anim"],
		&[class*="--main-anim"]:hover {
			position: relative;
			overflow: hidden;
			>.btn-text {
				display: inline-block;
				transform: none;
			}
			>.i-icon {
				position: relative;
				display: inline-block;
				left: auto;
				margin-left: 0;
				transform: none;
			}
		}
		&.btn-add-to-cart,
		&.btn-add-to-cart[class*="--main-anim"] {
			.i-icon {
				margin-left: 10px;
			}
		}
	}
}
@media (--small){
	.btn {
		&.btn-one-click,
		&.btn-one-click[class*="--main-anim"] {
			.i-icon {
				display: none;
			}
		}
	}
}
@media (--mobile){
	.btn {
		.product-detail > &.btn-favorite.added .i-icon {
			fill: currentColor;
		}
		&.btn--arrow-back {
			margin-top: 0;
			background: var(--main-white);
			border-color: var(--main-white);
		}
		&--like .i-icon,
		&--like[class*="with-icon"] .i-icon {
			margin-right: 5px;
		}
	}
}