@import "../colors.css";
@import "../media.css";
@import "../selectors.css";

.page--checkout {
	.tile-page__body {
		background: url(var(--img-path)/checkout-bg.png) bottom right no-repeat;
		background-size: auto 600px;
		padding-top: 30px;
		padding-bottom: 170px;
	}
	.basket {
		.heading {
			margin: -64px 0 0;
			padding-bottom: 30px;
			border-bottom: 1px solid #ebebeb;
		}
	}
}
.checkout-block .heading {
	margin-top: 10px;
	margin-bottom: 60px;
}
@media (--small){
	.page--checkout {
		.tile-page__body {
			background-size: 70% auto;
		}
	}
}
@media (--mobile){
	.page--checkout {
		.tile-page__body {
			background: none;
			padding-top: 20px;
			padding-bottom: 0;
		}
		.basket .heading {
			margin: 20px 0 0;
			padding-left: 25px;
		}
		.checkout-login-link {
			margin: 0 20px;
		}
	}
	.checkout-block,
	.checkout-block[class*="grid"]{
		margin: 0;
		padding: 0 20px;
		width: 100%;
		[class*="col"]{
			padding: 0;
		}
	}
	.checkout-block {
		.heading {
			margin: 20px 0;
		}
		&__delivery .heading {
			margin-top: 40px;
		}
	}
}