@import "../colors.css";
@import "../media.css";

.contacts {
	&__block {
		margin-top: 30px;
		width: 100%;
		&:first-of-type {
			margin-top: 0;
		}
		p {
			width: 90%;
		}
	}
	&__form {
		padding-top: 20px;
		justify-content: flex-end;
		background: url(var(--img-path)/contacts-bg.png) left center no-repeat;
		background-size: 48% auto;
	}
}
.page--contacts .bx-yandex-map {
	width: 100%;
	.ymaps-map {
		max-width: 100%;
	}
}
@media (--small-down){
	.page--contacts .bx-yandex-map {
		height: 50vw;
	}
}
@media (--mobile){
	.contacts {
		&__block {
			margin-top: 0;
			p {
				width: 100%;
			}
		}
	}
}
@media (--mobile){
	.contacts {
		&__form {
			background: none;
		}
	}
}