@import "../colors.css";
@import "../media.css";

.dropdown {
	position: relative;
	font-family: "Bebas Neue Book";
	text-transform: uppercase;
	font-size: 17px;
	line-height: 23px;
	margin-bottom: 1em;
	border-left: 1px solid #44464b;
	border-right: 1px solid #44464b;
	.filter-item & {
		border-right: transparent;
	}
	.filter-item:first-of-type & {
		border-left: transparent;
	}
	.dropdown__inp {
		display: none;
	}
	.dropdown__value {
		padding: 10px 20px;
		padding-right: 45px;
		background: var(--dark-gray);
		color: white;
		min-height: 43px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		transition: transform .3s ease;
	}
	
	.dropdown__caret {
		position: absolute;
		top: 11px;
		right: 25px;
		z-index: 4;
		cursor: pointer;
		.i-icon {
			width: 10px;
			height: 10px;
			stroke: white;
			transform: rotate(90deg);
			transition: transform .3s ease;
		}
	}
	.dropdown__list {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		background: #3c3e43;
		color: white;
		transition: all .3s ease;
		transform: scaleY(0) translateY(-100%);
		transform-origin: top;
		opacity: 0;
	}
	.dropdown__item {
		border-bottom: 1px solid #44464b;
		margin: 0;
		&:before {
			display: none;
		}
		.dropdown__title {
			display: block;
			padding: 10px 20px;
			cursor: pointer;
		}
		&:last-of-type {
			border-bottom-color: var(--main-brown);
		}
		&:hover {
			color: var(--main-brown);
		}
	}
	
	&.open {
		.dropdown__caret .i-icon {
			transform: rotate(-90deg);
		}
		.dropdown__value {
			transform: translateY(10px);
		}
		.dropdown__list {
			transform: scaleY(1) translateY(0);
			opacity: 1;
		}
	}
}
@media (--small-up){
	.dropdown {
		&--mobile &__value,
		&--mobile &__caret {
			display: none;
		}
	}
}
@media (--mobile){
	.dropdown {
		&--mobile {
			position: relative;
			font-family: "Bebas Neue Book";
			text-transform: uppercase;
			font-size: 20px;
			line-height: 23px;
		}
		&--mobile &__value {
			padding: 10px 20px;
			padding-right: 45px;
			background: var(--dark-gray);
			color: white;
			min-height: 43px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
			transition: transform .3s ease;
			position: relative;
			z-index: 2;
		}
		&--mobile &__caret {
			position: absolute;
			top: 11px;
			right: 25px;
			z-index: 3;
			width: 0;
			height: 0;
			top: 20px;
			left: auto;
			right: 30px;
			background: none;
			border-style: solid;
			border-width: 5px 3px 0;
			border-color: transparent;
			border-top-color: white;
		}
		&--mobile &__list {
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			background: #3c3e43;
			color: white;
			transition: all .3s ease;
			transform: scaleY(0) translateY(-100%);
			transform-origin: top;
			opacity: 0;
		}
		&--mobile &__item {
			border-bottom: 1px solid #44464b;
			margin: 0;
			&:before {
				display: none;
			}
			.dropdown__title {
				display: block;
				padding: 10px 20px;
			}
		}
		
		&--mobile.open {
			.dropdown__caret {
				transform: rotate(-180deg);
			}
			.dropdown__value {
				transform: translateY(10px);
			}
			.dropdown__list {
				transform: scaleY(1) translateY(0);
				opacity: 1;
			}
		}
	}
}

.sort-mobile {
	position: relative;
	background: var(--main-white);
	border: 1px solid var(--light-gray);
	padding: 11px 20px;
	line-height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__text {
		font-size: 14px;
		color: #b0b2b5;
		flex-basis: 100px;
		margin-right: 10px;
	}
	&__sel {
		padding: 0 10px;
		font-size: 18px;
		background-color: transparent;
		border: 0;
		color: #767778;
		margin: 0;
		background-image: svg('triangle', '[fill]: #767778');
	}
}

@media (--small), (--medium-up){
	.sort-mobile {
		display: none;
	}
}