@import "../colors.css";
@import "../media.css";

.filter {
	&--aside {
		position: fixed;
		width: 100vw;
		height: 100%;
		top: 0;
		right: -100%;
		z-index: 16;
		transition: right .3s;
		will-change: right;
		overflow-x: visible;
		margin-left: 0;
		margin-right: 0;
		&.open {
			right: 0;
			overflow-x: hidden;
		}
	}
	&--aside &__wrap {
		background: var(--main-white);
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	&__heading {
		color: var(--dark-gray);
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	&__item {
		border-bottom: 1px solid var(--light-gray);
		padding: 25px;
		&--collection,
		&--color {
			.field {
				display: inline-block;
				margin: 10px 20px 10px 0;
				width: auto;
			}
		}
	}
	&__actions {
		padding: 25px;
	}
}