@import "../colors.css";
@import "../media.css";
@import "../selectors.css";

:--inputs, select {
    font-size: 17px;
	line-height: 1.3;
	font-family: "MyriadPro";
	vertical-align: middle;
	color: var(--dark-gray);
	padding: 0.5em 15px;
	background: var(--main-white);
	border: 1px solid #ebebeb;
	margin: 10px 0;
    -webkit-appearance: none;
	max-width: 100%;
	&:focus {
		outline: none;
	}
    &.valid {
        background-image: svg('tick', '[fill]: var(--success-green)');
        background-position: right 28px center;
        background-repeat: no-repeat;
        background-size: 10px 12px;
        padding-right: 50px;
    }
    &.invalid {
       /* border-color: var(--main-red);
        background-image: url(icons/invalid.png);*/
        background-position: right 20px center;
        background-repeat: no-repeat;
        padding-right: 50px;
    }
	&.base {
		background: white;
		border-color: #dcdcdc;
		font: 14px/1.5 "Roboto";
	}
	&.small {
		font-size: 14px;
		padding: 0.5em 10px;
	}
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill  {
    background: transparent !important;
}
textarea {
	width: 100%;
    max-width: 100%;
	height: 4em;
	&[rows]{
		height: auto;
	}
}

select {
	display: block;
	width: 100%;
	appearance: menulist;
}

.field__inputtext {
	&--full {
		border: none;
		background: transparent;
		margin: 0;
	}
}


.big-radio {
    position: relative;
    margin: 45px 0;
    cursor: pointer;
    input {
        display: none;
        &:checked {
            + label {
                .big-radio__circle {
                    &::before {
                       /* background: var(--main-red);*/
                    }
                }
            }
        }
    }
    label {
        display: block;
        padding-left: 40px;
        cursor: pointer;
    }
    &__heading {
        color: black;
        margin-bottom: 35px;
    }
    &__text {
        color: #9c9c9c;
        font-size: 12px;
        line-height: 2em;
    }
    &__circle {
        top: -3px;
        left: 0;
        width: 22px;
        height: 22px;
        position: absolute;
        border-bottom: 100%;
        border: 1px solid rgb(223, 223, 223);
        border-radius: 100%;
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100%;
            transition: .2s;
            background: transparent;
        }
    }
}

.switch {
	text-align: center;
	input {
		display: none;
	}
	&__text {
		font-family:  "MyriadPro";
		color: var(--dark-gray);
		font-size: 19px;
		position: relative;
		z-index: 2;
		cursor: pointer;
		&--left {
			padding-right: 75px;
			margin-right: -25px;
		}
		&--right {
			padding-left: 75px;
			margin-left: -25px;
		}
	}
	&__field {
		display: inline-block;
		width: 55px;
		margin: 0;
		vertical-align: middle;
	}
	.switcher {
		display: block;
		position: relative;
		width: 100%;
		height: 23px;
		border-radius: 15px;
		background: #eaeaea;
		&:after {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			background: var(--main-brown);
			border: 1px solid #b1b1b1;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
			border-radius: 50%;
			position: absolute;
			top: -2px;
			left: 50%;
			margin-left: -13px;
			transition: transform .3s;
		}
	}
	.radio--left:checked ~ .switcher:after {
		transform: translateX(-50%);
	}
	.radio--right:checked ~ .switcher:after {
		transform: translateX(50%);
	}
}

.custom-radio {
	position: relative;
	font-size: 17px;
	margin: 2em 0;
	input {
		display: none;
	}
	.radio-label {
		cursor: pointer;
	}
	&__circle {
		position: absolute;
		top: 2px;
		left: 5px;
		width: 1em;
		height: 1em;
		border: 1px solid #e0e0e0;
		background: var(--main-white);
		padding: 0.25em;
		border-radius: 50%;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: var(--main-brown);
			border-radius: 50%;
			opacity: 0;
		}
	}
	input:checked + &__circle::after {
		opacity: 1;
	}
	&__heading {
		font-family:  "MyriadPro";
		color: var(--dark-gray);
		padding-left: 2.6em;
		display: block;
	}
	.field__text {
		padding-left: 2.6em;
		font-size: inherit;
		p {
			font-size: 12px;
		}
	}
}
@media (--mobile){
	.custom-radio {
		&__heading span {
			display: block;
		}
		.checkout-block__delivery & {
			.field__text {
				padding: 0;
				/*height: 0;
				transform: scaleY(0);
				transform-origin: top;
				transition: all .3s;*/
			}
			&.checked .field__text {
				/*transform: scaleY(1);
				height: 100%;*/
			}
		}
	}
}

input[type="checkbox"] {
	&.tick {
		display: none;
		& + .checkbox-lbl {
			font-size: 15px;
			color: var(--dark-gray);
			font-weight: 100;
			vertical-align: middle;
			padding-left: 1.5em;
			background-image: svg('tick', '[fill]: #dfdfdf');
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 0.8em;
		}
		&:checked + .checkbox-lbl {
			background-image: svg('tick', '[fill]: var(--success-green)');
		}
	}
	&.color {
		display: none;
		& + .checkbox-lbl {
			display: block;
			font-size: 11px;
			width: 1em;
			height: 1em;
			background-size: 1em 1em;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.field-price {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #b2b2b2;
	&__input {
		position: relative;
		width: 46%;
		color: var(--dark-gray);
		&:after {
			content: '\20BD';
			color: #b2b2b2;
			position: absolute;
			top: 50%;
			margin-top: -0.5em;
			right: 1.4em;
		}
	}
	.bx-ui-slider {
		&-track-container {
			width: 100%;
			padding: 11px 0 30px;
			margin: 0;
			position: relative;
		}
		&-track {
			height: 3px;
			background: #dfdfdf;
		}
		&-part {
			position: absolute;
			top: auto;
			bottom: 0;
			background: none;
			width: 50%;
			span {
				font-size: 9px;
				color: #b2b2b2;
				top: auto;
				bottom: 0;
				margin-left: 0;
				width: auto;
			}
			&.p1 {
				left: 0;
				text-align: left;
				span {
					left: 0;
				}
			}
			&.p2 {
				left: auto;
				right: 0;
				text-align: right;
				span {
					left: auto;
					right: 0;
				}
			}
		}
		&-pricebar-vd,
		&-pricebar-vn{
			background: #dfdfdf;
			position: absolute;
			height: 3px;
		}
		&-pricebar-v {
			background: var(--dark-gray);
			position: absolute;
			height: 3px;
		}
		&-range {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&-handle {
			display: block;
			position: absolute;
			top: 0;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: white;
			border: 1px solid #dfdfdf;
			box-shadow: 0 5px 8px 0 rgba(0,0,0,.08);
			&.left {
				margin-left: -12px;
			}
			&.right {
				margin-right: -12px;
			}
		}
	}
}

.field {
    margin: 20px 0;
	display: block;
	width: 100%;
    &--half {
        display: inline-block;
        vertical-align: top;
        width: 49%;
    }
    :--inputs  {
		display: block;
        width: 100%;
    }
	&__label,
	&__text {
		font-size: 12px;
		font-weight: lighter;
		color: #a4a4a4;
	}
    &--double {
        input {
            display: inline-block;
            vertical-align: middle;
            width: calc(50% + 5px - 1em);
        }
        span {
            width: 10px;
            text-align: center;
            display: inline-block;
        }
    }
    &__note {
        color: #999999;
        font-size: 13px;
        margin-bottom: 10px;
    }
    &__delete {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 100%;
        &:before, &:after {
            content: '';
            width: 55%;
            height: 1px;
            display: block;
            position: absolute;
            background: #fb7216;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
    &--inline {
        > label {
            display: inline-block;
        }
    }
    &.disabled {
        opacity: 0.7;
    }
    &.required {
        .field__label {
            > * {
                vertical-align: middle;
            }
            &::after {
                content: '*';
                margin-left: 2px;
                color: var(--dark-gray);
            }
        }
    }
	&.no-margin {
		margin: 0;
	}
	.col,
	[class*="col-"] {
		padding-bottom: 0;
		:--inputs,
		select {
			margin-bottom: 0;
		}
	}
}
@media (--mobile){
	.field {
		margin: 18px 0 10px;
		&:last-child,
		&:last-child :--inputs,
		&:last-child .custom-radio {
			margin-bottom: 0;
		}
	}
}

/* bitrix monstrous location-field's styles override */
.bx-sls {
	.dropdown-block {
		position: relative;
		font-size: 17px;
		line-height: 1.3;
		font-family: "MyriadPro";
		vertical-align: middle;
		color: var(--dark-gray);
		padding: 0.5em 40px;
		background: var(--main-white);
		border: 1px solid #ebebeb;
		margin: 10px 0;
		border-radius: 0;
		input {
			padding: 0;
			margin: 0;
			background: transparent;
			border: none;
		}
		.bx-ui-sls-route,
		.bx-ui-sls-fake {
			position: absolute;
			top: 0;
			left: 0;
			color: #aba8ac;
			background-color: transparent;
			border-color: transparent;
			opacity: 1;
			box-shadow: none;
			padding-right: 22px;
			height: auto;
			background-position: right 1px;
			background-repeat: no-repeat
		}
	}
	.bx-ui-sls-container {
		height: 22px;
	}
	.dropdown-icon {
		background: url(var(--icons-path)/lens.png) center no-repeat;
		height: 14px;
		left: 13px;
		position: absolute;
		top: 50%;
		margin-top: -7px;
		width: 14px
	}
	.dropdown-fade2white {
		display: none;
	}
	.bx-ui-sls-clear {
		background: url(var(--icons-path)/clear.png) center no-repeat;
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		right: 13px;
		display: block
	}
}
