@import "../colors.css";
@import "../media.css";
@import "../selectors.css";

:--inputs {
    font-size: 17px;
	line-height: 1.3;
	font-family: "MyriadPro";
	vertical-align: middle;
	color: var(--dark-gray);
	padding: 0.5em 15px;
	background: var(--main-white);
	border: 1px solid #ebebeb;
	margin: 10px 0;
    -webkit-appearance: none;
	&:focus {
		outline: none;
	}
    &.valid {
        background-image: svg('tick', '[fill]: var(--success-green)');
        background-position: right 28px center;
        background-repeat: no-repeat;
        background-size: 10px 12px;
        padding-right: 50px;
    }
    &.invalid {
       /* border-color: var(--main-red);
        background-image: url(icons/invalid.png);*/
        background-position: right 20px center;
        background-repeat: no-repeat;
        padding-right: 50px;
    }
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill  {
    background: transparent !important;
}
textarea {
	width: 100%;
    max-width: 100%;
	height: 4em;
}

.field__inputtext {
	&--full {
		border: none;
		background: transparent;
		margin: 0;
	}
}


.big-radio {
    position: relative;
    margin: 45px 0;
    cursor: pointer;
    input {
        display: none;
        &:checked {
            + label {
                .big-radio__circle {
                    &::before {
                       /* background: var(--main-red);*/
                    }
                }
            }
        }
    }
    label {
        display: block;
        padding-left: 40px;
        cursor: pointer;
    }
    &__heading {
        color: black;
        margin-bottom: 35px;
    }
    &__text {
        color: #9c9c9c;
        font-size: 12px;
        line-height: 2em;
    }
    &__circle {
        top: -3px;
        left: 0;
        width: 22px;
        height: 22px;
        position: absolute;
        border-bottom: 100%;
        border: 1px solid rgb(223, 223, 223);
        border-radius: 100%;
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100%;
            transition: .2s;
            background: transparent;
        }
    }
}

.switch {
	text-align: center;
	input {
		display: none;
	}
	&__text {
		font-family:  "MyriadPro";
		color: var(--dark-gray);
		font-size: 19px;
		position: relative;
		z-index: 2;
		cursor: pointer;
		&--left {
			padding-right: 75px;
			margin-right: -25px;
		}
		&--right {
			padding-left: 75px;
			margin-left: -25px;
		}
	}
	&__field {
		display: inline-block;
		width: 55px;
		margin: 0;
		vertical-align: middle;
	}
	.switcher {
		display: block;
		position: relative;
		width: 100%;
		height: 23px;
		border-radius: 15px;
		background: #eaeaea;
		&:after {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			background: var(--main-brown);
			border: 1px solid #b1b1b1;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
			border-radius: 50%;
			position: absolute;
			top: -2px;
			left: 50%;
			margin-left: -13px;
			transition: transform .3s;
		}
	}
	.radio--left:checked ~ .switcher:after {
		transform: translateX(-50%);
	}
	.radio--right:checked ~ .switcher:after {
		transform: translateX(50%);
	}
}

.custom-radio {
	position: relative;
	font-size: 17px;
	margin: 2em 0;
	input {
		display: none;
	}
	.radio-label {
		cursor: pointer;
	}
	&__circle {
		position: absolute;
		top: 2px;
		left: 5px;
		width: 1em;
		height: 1em;
		border: 1px solid #e0e0e0;
		background: var(--main-white);
		padding: 0.25em;
		border-radius: 50%;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: var(--main-brown);
			border-radius: 50%;
			opacity: 0;
		}
	}
	input:checked + &__circle::after {
		opacity: 1;
	}
	&__heading {
		font-family:  "MyriadPro";
		color: var(--dark-gray);
		padding-left: 2.6em;
	}
	.field__text {
		padding-left: 2.6em;
		font-size: inherit;
		p {
			font-size: 12px;
		}
	}
}

.field {
    margin: 20px 0;
	display: block;
	width: 100%;
    &--half {
        display: inline-block;
        vertical-align: top;
        width: 49%;
    }
    :--inputs  {
		display: block;
        width: 100%;
    }
	&__label,
	&__text {
		font-size: 12px;
		font-weight: lighter;
		color: #a4a4a4;
	}
    &--double {
        input {
            display: inline-block;
            vertical-align: middle;
            width: calc(50% + 5px - 1em);
        }
        span {
            width: 10px;
            text-align: center;
            display: inline-block;
        }
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + label {
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            background: white;
            box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.11);
            border-radius: 3px;
            margin-right: 10px;
            background: white;
            cursor: pointer;
        }
        span {
            vertical-align: middle;
            font-size: 13px;
            /*color: var(--main-black);*/
        }
    }
    input[type=checkbox] {
        &:checked {
            + label {
                &::before {
                    /*background: var(--main-red);*/
                    /*background-image: url(icons/galka-white.svg);*/
                    background-position: center;
                    background-size: 14px;
                    background-repeat: no-repeat;
                    box-shadow: 0 0 0 0;
                }
            }
        }
    }
    &__note {
        color: #999999;
        font-size: 13px;
        margin-bottom: 10px;
    }
    &__delete {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 100%;
        &:before, &:after {
            content: '';
            width: 55%;
            height: 1px;
            display: block;
            position: absolute;
            background: #fb7216;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
    &--inline {
        > label {
            display: inline-block;
        }
    }
    &.disabled {
        opacity: 0.7;
    }
    &.required {
        .field__label {
            > * {
                vertical-align: middle;
            }
            &::after {
                content: '*';
                margin-left: 2px;
                color: var(--dark-gray);
            }
        }
    }
	&.no-margin {
		margin: 0;
	}
}

/* bitrix monstrous location-field's styles override */
.bx-sls {
	.dropdown-block {
		position: relative;
		font-size: 17px;
		line-height: 1.3;
		font-family: "MyriadPro";
		vertical-align: middle;
		color: var(--dark-gray);
		padding: 0.5em 40px;
		background: var(--main-white);
		border: 1px solid #ebebeb;
		margin: 10px 0;
		input {
			padding: 0;
			margin: 0;
			background: transparent;
			border: none;
		}
		.bx-ui-sls-route,
		.bx-ui-sls-fake {
			position: absolute;
			top: 0;
			left: 0;
			color: #aba8ac;
			background-color: transparent;
			border-color: transparent;
			opacity: 1;
			box-shadow: none;
			padding-right: 22px;
			height: auto;
			background-position: right 1px;
			background-repeat: no-repeat
		}
	}
	.dropdown-icon {
		background: url(var(--icons-path)/lens.png) center no-repeat;
		height: 14px;
		left: 13px;
		position: absolute;
		top: 50%;
		margin-top: -7px;
		width: 14px
	}
	.dropdown-fade2white {
		display: none;
	}
	.bx-ui-sls-clear {
		background: url(var(--icons-path)/clear.png) center no-repeat;
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		right: 13px;
		display: block
	}
}
