@import "../media.css";
@import "../colors.css";

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	&--with-icons {
		.menu-item__icon {
			display: inline-block;
			margin-right: 25px;
			width: 30px;
			height: 35px;
			vertical-align: middle;
			&--top {
				vertical-align: super;
			}
		}
		.i-icon {
			width: 100%;
			height: 100%;
			fill: currentColor;
			&--stroke {
				fill: none;
				stroke: currentColor;
			}
			&--smaller {
				padding: 3px;
			}
		}
	}
	&-item {
		&__link {
			display: block;
			padding: 13px 35px 14px;
			color: inherit;
			text-decoration: none;
			font-family: "Bebas Neue Book";
			font-size: 22px;
			line-height: 35px;
			vertical-align: middle;
			text-transform: uppercase;
			position: relative;
			.notification {
				color: var(--main-brown);
				margin-left: 5px;
			}
			&:hover {
				background: var(--main-brown);
				.notification {
					color: inherit;
				}
			}
			.menu-item__text {
				display: inline-block;
				
			}
			&.anim-click--play .menu-item__text {
				transform: translateY(2px);
				transition: transform .1s;
			}
		}
	}
	&--multilevel {
		&--aside {
			transition: all .3s;
			transform-origin: left center;
			padding-top: 70px;
			.submenu--sided & {
				padding-top: 0;
			}
			&.next-level {
				transform: translateX(-100%);
			}
			.menu-item--parent {
				color: #fff;
				.parent-arrow {
					position: absolute;
					top: 50%;
					right: 30px;
					width: 16px;
					height: 14px;
					margin-top: -7px;
					fill: currentColor;
					&.i-icon--stroke {
						fill: none;
						stroke: currentColor;
					}
				}
				.menu-item__icon--top ~ .parent-arrow {
					margin-top: -5px;
				}
			}
		}
		.menu-item--parent {
			color: var(--main-brown);
			> .menu-item__link:hover {
				background: none;
			}
			.menu-item {
				color: white;
				.menu-item__link:hover {
					background: #25272b;
				}				
				.notification {
					color: #8b8b8b;
				}
			}
		}
	}
	.submenu {
		&--sided {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all .3s ease;
			transform: translateX(300%);
			transform-origin: right center;
			&.open {
				transform: translateX(100%);
			}
			&.next-level.open {
				transform: translateX(-100%);
				transform-origin: left center;
				.open {
					transform: translateX(200%);
				}
			}
		}
		&__back {
			display: block;
			width: 100%;
			padding: 15px 35px;
			color: #848484;
			text-decoration: none;
			font-family: "Bebas Neue Book";
			font-size: 22px;
			line-height: 40px;
			vertical-align: middle;
			text-transform: uppercase;
			position: relative;
			text-align: left;
			border: 0;
			background: transparent;
			.back__arrow {
				display: inline-block;
				width: 40px;
				height: 40px;
				margin-right: 15px;
				position: relative;
				vertical-align: middle;
				span {
					display: block;
					position: absolute;
					width: 74%;
					left: 3px;
					height: 1px;
					top: 50%;
					background: currentColor;
					transform-origin: left center;
					&:first-child {
						transform: rotate(45deg) scaleX(0.5);
					}
					&:last-child {
						transform: rotate(-45deg) scaleX(0.5);
					}
				}
			}
			.back__text {
				vertical-align: middle;
			}
		}
	}
	.page-aside__block--mobile & {
		padding-top: 0;
		background: #414346;
		.menu-item {
			color: #898a8b;
		}
	}
}