@import "../media.css";
@import "../colors.css";

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		position: static;
		margin: 0;
		&::before {
			display: none;
		}
	}
	&-item {
		&--with-icon {
			.menu-item__icon {
				display: inline-block;
				margin-right: 25px;
				width: 30px;
				height: 35px;
				vertical-align: middle;
				&--top {
					vertical-align: super;
				}
			}
			.i-icon {
				width: 100%;
				height: 100%;
				fill: currentColor;
				&--stroke {
					fill: none;
					stroke: currentColor;
				}
				&--smaller {
					padding: 3px;
				}
			}
		}
		&__link {
			display: block;
			padding: 13px 35px 14px;
			/*color: inherit;*/
			color: currentColor;
			text-decoration: none;
			font-family: "Bebas Neue Book", "Roboto", sans-serif;;
			font-size: 22px;
			line-height: 35px;
			vertical-align: middle;
			text-transform: uppercase;
			position: relative;
			.notification {
				color: var(--main-brown);
				margin-left: 5px;
			}
			&:hover {
				background: var(--main-brown);
				.notification {
					color: inherit;
				}
			}
			.menu-item__text {
				display: inline-block;
				
			}
			&.anim-click--play .menu-item__text {
				transform: translateY(2px);
				transition: transform .1s;
			}
		}
		&--mobile {
			background:  #414346;
			color: #898a8b;
		}
	}
	&--multilevel {
		&--aside {
			transition: all .3s;
			transform-origin: left center;
			padding-top: 70px;
			.submenu--sided & {
				padding-top: 0;
			}
			&.next-level {
				transform: translateX(-100%);
			}
			.menu-item--parent {
				color: #fff;
				.parent-arrow {
					position: absolute;
					top: 50%;
					right: 30px;
					width: 16px;
					height: 14px;
					margin-top: -7px;
					fill: currentColor;
					&.i-icon--stroke {
						fill: none;
						stroke: currentColor;
					}
				}
				.menu-item__icon--top ~ .parent-arrow {
					margin-top: -5px;
				}
			}
		}
		.menu-item--parent {
			color: var(--main-brown);
			> .menu-item__link:hover {
				background: none;
			}
			.menu-item {
				color: white;
				.menu-item__link:hover {
					background: #25272b;
				}				
				.notification {
					color: #8b8b8b;
				}
			}
		}
	}
	.submenu {
		&--sided {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all .3s ease;
			transform: translateX(300%);
			transform-origin: right center;
			&.open {
				transform: translateX(100%);
			}
			&.next-level.open {
				transform: translateX(-100%);
				transform-origin: left center;
				.open {
					transform: translateX(200%);
				}
			}
		}
		&__back {
			display: block;
			width: 100%;
			padding: 15px 35px;
			color: #848484;
			text-decoration: none;
			font-family: "Bebas Neue Book", "Roboto", sans-serif;;
			font-size: 22px;
			line-height: 40px;
			vertical-align: middle;
			text-transform: uppercase;
			position: relative;
			text-align: left;
			border: 0;
			background: transparent;
			.back__arrow {
				display: inline-block;
				width: 40px;
				height: 40px;
				margin-right: 15px;
				position: relative;
				vertical-align: middle;
				span {
					display: block;
					position: absolute;
					width: 74%;
					left: 3px;
					height: 1px;
					top: 50%;
					background: currentColor;
					transform-origin: left center;
					&:first-child {
						transform: rotate(45deg) scaleX(0.5);
					}
					&:last-child {
						transform: rotate(-45deg) scaleX(0.5);
					}
				}
			}
			.back__text {
				vertical-align: middle;
			}
			&:hover {
				background: var(--main-brown);
				color: white;
			}
		}
	}
	.page-aside__block--mobile & {
		padding-top: 0;
		background: #414346;
		.menu-item {
			color: #898a8b;
		}
	}
}
@media (--small-up){
	.menu {
		&-item--mobile {
			display: none;
		}
	}
}
@media (--mobile){
	.menu {
		&-item {
			&__link {
				padding-left: 30px;
				&:hover {
					background: #25272b;
				}
			}
			&--with-icon &__link {
				padding-left: 20px;
			}
			&--with-icon &__icon {
				height: 28px;
				vertical-align: baseline;
				&--top .i-icon {
					vertical-align: top;
				}
			}
			&--with-icon + &--mobile {
				padding-top: 10px;
				margin-top: 25px;
			}
		}
		.submenu {
			&__back {
				padding-left: 20px;
				&:hover {
					background: var(--dark-gray);
				}
			}
		}
		&--multilevel--aside &-item--parent .parent-arrow,
		&--multilevel--aside &-item--parent &-item__icon--top ~ .parent-arrow{
			margin-top: -8px;
		}
		
	}
}

.horizontal-menu {
	.page--individual & {
		margin-bottom: 20px;
	}
	&__link {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: "Bebas Neue Book", "Roboto", sans-serif;;
		font-size: 17px;
		line-height: 1;
		padding: 13px 1em;
		color: white;
		background: var(--dark-gray);
		border-style: solid;
		border-color: #44464b;
		border-width: 0;
		border-left-width: 1px;
		text-decoration: none;
		position: relative;
		transition: background .2s;
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: -1px;
			right: -1px;
			bottom: 0;
			height: 3px;
			background: transparent;
			z-index: 1;
		}
		.notification {
			display: inline-block;
			font-size: 13px;
			line-height: 19px;
			width: 19px;
			height: 19px;
			text-align: center;
			vertical-align: middle;
			border-radius: 50%;
			margin-left: 1em;
			color: var(--dark-gray);
			background: var(--main-brown);
		}
		&:hover {
			background: #3c3e43;
		}
	}
	&__item {
		display: flex;
	}
	&__item:first-child &__link {
		border: 0;
		&::after {
			left: 0;
		}
	}
	&__item:last-child &__link::after {
		right: 0;
	}
	&__item--active &__link::after {
		background: var(--main-brown);
	}
	.submenu {
		&__list {
			box-shadow: 0 0 18px 0 rgba(0,0,0,.1);
		}
		&__link {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-family: "Bebas Neue Book", "Roboto", sans-serif;;
			font-size: 24px;
			line-height: 1;
			padding: 20px 1em 22px;
			color: #3d3b33;
			background: var(--main-white);
			text-decoration: none;
			position: relative;
			transition: background .2s;
			&:hover {
				background: white;
			}
		}
		&__item--active .submenu__link {
			background: white;
			&::before {
				content: '';
				display: inline-block;
				width: 0.3em;
				height: 0.3em;
				border-radius: 50%;
				background: var(--main-brown);
				vertical-align: middle;
				margin-left: -1.3em;
				margin-right: 1em;
			}
		}
	}
}
@media (--mobile){
	.horizontal-menu {
		.page--individual & {
			margin-bottom: 0;
		}
		.notification {
			display: inline-block;
			font-size: 13px;
			line-height: 19px;
			width: 19px;
			height: 19px;
			text-align: center;
			vertical-align: middle;
			border-radius: 50%;
			margin-left: 1em;
			color: var(--dark-gray);
			background: var(--main-brown);
		}
	}
	.horizontal-menu,
	.horizontal-menu .submenu {
		padding: 0;
		&__list {
			font-size: 20px;
		}
		&__link,
		.submenu__item .submenu__link {
			text-align: left;
			justify-content: flex-start;
			border: 0;
			background: var(--dark-gray);
			color: white;
			font-size: 20px;
			padding: 13px 1em;
		}
		&__item {
			width: 100%;
			flex-basis: 100%;
		}
		&__item--active {
			order: -1;
			pointer-events: none;
		}
		&__item--active &__link {
			background: var(--dark-gray);
			color: white;
			&::after {
				display: none;
			}
		}
		&--multilevel &__item {
			display: none;
		}
		&--multilevel &__item--active {
			display: flex;
		}
		&--multilevel &__link {
			background: white;
			color: var(--main-brown);
			font-size: 24px;
			padding: 20px;
		}
	}
}