@import "../colors.css";
@import "../media.css";


.order-messages {
	padding: 30px 40px;
	background: #e5e5e5;
	&__wrapper {
		position: relative;
		.tile-block & {
			width: calc(100% + 80px);
			margin-left: -40px;
			margin-top: 30px;
			margin-bottom: -30px;
		}
		.btn-messages {
			position: absolute;
			top: -100px;
			right: 40px;
			line-height: 33px;
			padding: 12px 40px;
			margin: 0;
			width: 240px;
			transition: opacity .3s .3s;
			.i-icon {
				height: 33px;
			}
			.notification {
				display: inline-block;
				font: 13px/19px 'Bebas Neue Book', 'MyriadPro', Roboto, sans-serif;
				color: var(--dark-gray);
				height: 19px;
				width: 19px;
				text-align: center;
				background: var(--main-brown);
				border-radius: 50%;
				margin-right: 10px;
			}
		}
		&.open .btn-messages {
			opacity: 0;
			pointer-events: none;
			transition: opacity .3s;
		}
		&:hover .notification {
			background: white;
			color: var(--main-brown);
		}
	}
	&__actions {
		align-items: center;
		.collapsible-block__btn {
			width: 120px;
		}
		.file-field {
			margin: 0 30px;
			max-width: calc(100% - 425px);
		}
	}
}
@media (max-width: 870px){
	.order-messages {
		&__wrapper {
			padding-top: 90px;
			transition: padding-top .3s;
			&.open {
				padding-top: 0;
				transition: padding-top .3s;
			}
			.btn-messages {
				top: 0;
				left: 40px;
			}
		}
	}
}
@media (--mobile){
	.order-messages {
		padding: 20px 30px;
		&__wrapper {
			.tile-block & {
				margin: 0;
				width: calc(100% + 40px);
				margin-left: -20px;
			}
			.btn-messages {
				left: 20px;
				width: 100%;
				max-width: 280px;
				text-align: center;
			}
		}
		&__actions {
			justify-content: center;
		}
		.file-field {
			order: -1;
			max-width: 100%;
			margin: 0;
		}
	}
}


.message {
	margin-bottom: 30px;
	&__author {
		font-weight: bold;
	}
	&__theme {
		font: 20px/1 "MyriadPro", Roboto, sans-serif;
		text-transform: uppercase;
		color: #47484b;
		.notification {
			font: 13px/1 "bebas Neue Book", "MyriadPro", Roboto, sans-serif;
			color: #fff;
			display: inline-block;
			text-align: center;
			vertical-align: top;
			padding: 3px;
			width: 19px;
			height: 19px;
			border-radius: 50%;
			background: var(--main-brown);
			margin-right: 1em;
		}
	}
	&__theme &__author {
		text-transform: none;
	}
	&__date {
		width: 90px;
	}
}

.messages {
	&__form {
		&--new {
			padding: 20px 30px 30px;
			background: #e5e5e5;
		}
		.field {
			margin: 0 0 10px;
		}
		.file-field {
			margin: 0 30px;
			width: calc(100% - 245px - 60px);
		}
	}
	&__form &__actions,
	&-form__actions {
		&, &.grid-noGutter {
			margin-top: 30px;
		}
		align-items: center;
		.collapsible-block__btn {
			width: 120px;
		}
	}
	&__search-form {
		flex: 1 1 auto;
		.search-form__field {
			width: 90%;
			margin-right: 0;
			input {
				font-size: 15px;
				margin: 0;
				text-transform: none;
				&::placeholder {
					color: currentColor;
				}
			}
		}
	}
	&-list__actions {
		margin: 20px 0 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		input, label, button {
			font-size: 17px;
			text-transform: uppercase;
		}
		button {
			padding: 9px 30px;
			&[class*="flat-light-gray"]{
				background: var(--main-white);
			}
		}
		&--admin {
			margin: -15px 0 10px;
		}
	}
	&__selection {
		width: 60px;
		padding-left: 10px;
		flex: 0 0 60px;
		.btn-star {
			display: block;
			margin-left: -10px;
		}
	}
	&__filter label {
		display: inline-block;
		margin-right: 30px;
	}
	&__list {
		margin-bottom: 30px;
	}
	&__dialog {
		padding: 20px 0;
		border-bottom: 1px solid #ececec;
	}
	&__dialog-header {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		.message {
			width: calc(100% - 60px - 90px);
			margin-bottom: 0;
		}
	}
	&__dialog-body {
		padding: 30px 60px 0;
		position: relative;
		transition: padding-top .3s;
		.messages {
			background: #e5e5e5;
			width: calc(100% + 200px);
			padding: 35px 100px;
			margin-left: -100px;
		}
		.file-field {
			width: calc(100% - 245px - 120px - 60px);
		}
		& > .collapsible-block__btn {
			position: absolute;
			transition: opacity .3s .3s;
			left: 55px;
			top: 0;
		}
		&.open {
			padding-top: 10px;
			transition: padding-top .3s;
		}
		&.open > .collapsible-block__btn {
			opacity: 0;
			pointer-events: none;
			transition: opacity .3s;
		}
	}
}
@media (max-width: 870px){
	.messages {
		&-form__actions {
			flex-wrap: wrap;
		}
		&-form__actions ,
		&__dialog-body {
			.file-field {
				margin-right: 0;
				width: calc(100% - 245px - 30px);
			}
		}
		&__dialog-body &-form__actions .collapsible-block__btn {
			margin: 20px auto 0;
		}
		&-list__actions--admin {
			flex-wrap: wrap;
		}
		&-list__actions &__search-form {
			flex: 0 0 100%;
			margin-top: 10px;
			.search-form__field {
				width: 100%;
				margin: 0;
			}
		}
	}
}
@media (--mobile){
	.messages {
		&-form__actions,
		&__dialog-body {
			&, &.grid-noGutter {
				margin-top: 10px;
			}
			.file-field {
				order: -1;
				margin: 0 0 15px;
				width: 100%;
			}
			.btn {
				width: 100%;
				max-width: 260px;
			}
		}
		&__list {
			margin-bottom: 0;
		}
		&-list__actions {
			margin-bottom: 20px;
			&--admin {
				margin-top: 20px;
			}
		}
		&__search-form {
			margin: 10px 0;
		}
		&__selection {
			width: 40px;
			padding-left: 5px;
			flex: 0 0 40px;
		}
		&__dialog {
			position: relative;
			border-top: 1px solid #e4e4e4;
			border-bottom: 0;
			width: 100vw;
			margin-left: calc((100vw - 100%)/ -2);
			padding: 20px;
			&--selected {
				background: var(--main-white);
			}
			&-header {
				flex-wrap: wrap;
				.messages__selection {
					position: absolute;
					top: auto;
					left: auto;
					padding: 0;
				}
				.message {
					width: 100%;
				}
				.message__theme {
					padding-left: 40px;
					.theme-text {
						display: block;
						margin-top: 10px;
					}
				}
				.message__date {
					width: 100%;
				}
			}
			&-body {
				padding-left: 5px;
				padding-right: 5px;
				&.open {
					margin-bottom: -20px;
				}
				.messages {
					width: calc(100% + 50px);
					padding: 20px 25px;
					margin-left: -25px;
				}
				> .collapsible-block__btn {
					left: 0;
				}
			}
		}
	}
}
@media (max-width: 450px) {
	.messages {
		&-list__actions {
			align-items: flex-start;
		}
		&__filter {
			width: 120px;
		}
		&__filter label {
			margin: 0 0 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}