@import "../colors.css";
@import "../media.css";
@import "../selectors.css";

.news {
	&__title {
		font-size: 16px;
		a {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px solid transparent;
			&:hover {
				border-color: #939393;
			}
		}
	}
	&__buttons {
		margin-top: 80px;
		.btn--arrow-back {
			padding-top: 8px;
			padding-bottom: 8px;
			margin-top: 0;
		}
		.btn--flat-light-gray {
			padding-right: 50px;
			padding-left: 50px;
			border: 1px solid transparent;
		}
		.btn + .btn {
			margin-left: 10px;
		}
	}
	.page--news &__date {
		font-size: 13px;
		margin-top: 0.5em;
	}
}
.block--archive {
	margin-top: 70px;
	margin-bottom: 40px;
	& + & {
		margin-top: 50px;
	}
	.heading {
		margin: 40px 0;
		& :--heading {
			color: #3d3b33;
		}
	}
	.video-container {
		margin-bottom: 20px;
	}
	.btn {
		margin-top: 10px;
	}
}
@media (--small){
	.news {
		&__buttons {
			.btn--flat-light-gray {
				padding-right: 20px;
				padding-left: 20px;
				border: 1px solid transparent;
			}
		}
	}
}
@media (--mobile){
	.news {
		&__item {
			position: relative;
			margin-bottom: 0;
		}
		&__image {
			margin-bottom: 20px;
		}
		&__buttons {
			margin-top: 10px;
			margin-bottom: 20px;
			.btn--arrow-back {
				width: 100%;
				max-width: 400px;
				text-align: center;
			}
		}
	}
	.block--archive {
		margin-top: 20px;
		.heading {
			margin: 20px 0;
		}
	}
}