@import "../media.css";
@import "../colors.css";

.page-aside {
	position: fixed;
	top: 0;
	width: 300px;
	height: 100%;
	background: var(--dark-gray);
	color: white;
	z-index: 2;
	overflow: hidden;
	&--left {
		left: -300px;
		transition: left .3s;
		will-change: left;
		&.open {
			left: 0;
			& ~ .page {
				will-change: left;
				left: 300px;
				right: auto;
			}
		}
		&.main-menu.open ~ .page .header {
			will-change: left;
			left: 300px;
		}
	}
	&--right {
		right: -300px;
		transition: right .3s;
		will-change: right;
		&.open {
			right: 0;
			& ~ .page {
				will-change: right;
				right: 300px;
				left: auto;
			}
		}
	}
}

.page-aside__block--mobile {
	padding: 15px 0;
	margin-top: 15px;
	background: #414346;
	@media (--small), (--medium-up) {
		display: none;
	}
}

@media (--mobile){
	.page-aside {
		width: 50%;
		&--left {
			left: -100%;
			&.open ~ .page,
			&.main-menu.open ~ .page .header {
				left: 100%;
			}
		}
		&--right {
			right: -100%;
			&.open ~ .page,
			&.open ~ .page .header {
				right: 100%;
				left: auto;
			}
		}
	}
}