@import "../media.css";
@import "../colors.css";

.pagination {
    text-align: right;
	margin-top: 1em;
	margin-bottom: 34px;
	padding: 0;
	.tile-page__body & {
		margin-bottom: 0;
	}
	&--left {
		text-align: left;
	}
    &__item {
        display: inline-block;
        vertical-align: middle;
		margin: 0;
        margin-right: 4px;
		&::before {
			display: none;
		}
		&:last-of-type {
			margin-right: 0;
		}
        a, span {
            display: block;
            height: 100%;
            background: white;
            color: #333;
            width: 46px;
            height: 46px;
			font-size: 18px;
            line-height: 24px;
			font-weight: lighter;
			padding: 10px;
            text-align: center;
            transition: .2s;
            text-decoration: none;
			border: 1px solid transparent;
        }
		a {
			&:hover {
                color: var(--main-brown);
				border-color: var(--main-brown);
            }
			.tile-block &,
			.tile-page & {
				background: var(--main-white);
				&:hover {
					border-color: transparent;
				}
			}
		}
        &--current,
		.tile-block &--current,
		.tile-page &--current {
            a, a:hover {
				color: white;
                background: var(--main-brown);
                cursor: default;
            }
        }
        &--prev {
            .i-icon {
                transform: rotate(-180deg);
            }
        }
        &--prev,
        &--next {
            .i-icon {
                fill: #333;
				stroke: #333;
				stroke-width: 1px;
                width: 16px;
                height: 16px;
            }
            &:hover {
                .i-icon {
                    fill: var(--main-brown);
					stroke:  var(--main-brown);
                }
            }
        }
    }
}

@media (--mobile) {
    .pagination {
		width: 100vw;
		margin: -1px 0;
		padding: 0;
		margin-left: calc(-50vw + 50%);
        text-align: center;
		border: 1px solid var(--light-gray);
		background: white;
		&__item {
			display: none;
			
			&:first-child,
			&:nth-child(2),
			&:nth-child(3),
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3),
			&--current,
			&--current + &,
			&--current:first-child ~ &--more {
				display: inline-block;
			}
			
			&--current:nth-child(3) ~ &--more,
			&:nth-last-child(11):first-child ~ &--more,
			&:nth-last-child(7):first-child ~ &:nth-last-child(3){
				display: none;
			}
			
			a, span {
				background: var(--main-white);
			}
			&--current  a {
				color: var(--main-brown);
			}
		}
    }
}
