@import "../media.css";
@import "../colors.css";

.promo-video {
	.block-heading {
		margin-top: 36px;
	}
}
.video-container,
.tile-block__video {
	position: relative;
	display: table;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		border: 0;
	}
}
@media (--mobile){
	.video-container.mobile-fullwidth {
		width: 100vw;
		padding: 0 0 56.25%;
	}
	.promo-video {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #e1e1e1;
		.video-container {
			width: 30%;
			padding-bottom: 17.5%;
		}
		.video-preview {
			width: 30%;
		}
		.block-heading--mobile {
			padding: 0.5em 20px;
			font-size: 18px;
			margin: 0;
			display: flex;
			align-items: center;
		}
	}
}

.media-lib {
	&__item {
		margin-bottom: 20px;
	}
	.photo-container {
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 100%;
		img {
			width: 100%;
		}
	}
	
}
.video-preview {
	position: relative;
	background: black;
	img {
		display: block;
		object-fit: contain;
		opacity: 0.56;
	}
	&__overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: #d0a675;
		.i-icon {
			width: 120px;
			height: 120px;
			max-width: 42%;
			fill: currentColor;
			&--stroke {
				fill: none;
				stroke: currentColor;
				stroke-width: 2;
			}
		}
		&:hover {
			color: white;
		}
	}
}