@import "../colors.css";
@import "../media.css";

.owl-stage {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
.owl-item {
    z-index: 1;
	display: flex;
	flex: 0 0 auto;
}

.owl-dots {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	.owl-dot {
		width: 4px;
		height: 4px;
		margin: 0 6px;
		background: #d0d0d0;
		&.active {
			background: var(--dark-gray);
		}
	}
}
.main-slider {
	margin-bottom: 40px;
	position: relative;
	z-index: 2;
	height: 100vh;
	background: var(--dark-gray);
    &__slide {
        width: 100vw;
		height: 100vh;
        background-position: top center;
        background-size: cover;
        position: relative;
    }
    &__info {
        background: rgba(46, 48, 52, 0.8);
        padding: 25px 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 240px;
		max-width: 66%;
        height: 80%;
        max-height: 335px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
		align-items: center;
        &::before {
            content: '';
            position: absolute;
            width: calc(100% + 30px);
            height: calc(100% + 30px);
            border: 4px solid rgba(46, 48, 52, 0.8);
            top: -20px;
            left: -20px;
            z-index: -1;
        }
    }
    &__heading {
        text-transform: uppercase;
        font-family: "Bebas Neue Bold", "Roboto", sans-serif;;
        font-size: 30px;
        color: #fff;
    }
    &__date {
        text-transform: uppercase;
        font-family: "Roboto";
        font-weight: 400;
        color: white;
    }
    &__icon {
        margin: 20px 0;
        .i-icon {
            width: 50px;
            height: 35px;
        }
    }
    &__button {
        margin-top: 53px;
        .btn {
            width: 100%;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 22px;
        right: 60px;
		width: auto;
		display: block;
		left: auto;
    }
    .owl-dot {
        width: 20px;
        height: 20px;
        display: inline-block;
        color: var(--main-dark);
        border: 1px solid currentColor;
        position: relative;
		background: transparent;
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            position: absolute;
            transition: .3s;
            top: 50%;
            left: 50%;
            background: currentColor;
            transform: translate(-50%, -50%);
        }
        &.active {
            color: var(--main-brown);
            border: 2px solid currentColor;
			background: transparent;
            &::after {
                width: 10px;
                height: 10px;
                background: currentColor;
            }
        }
    }
}

.main-slider-navs {
    [class*=nav] {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: var(--dark-gray);
        cursor: pointer;
		background-image: svg('arrow', '[stroke]: #969caa');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            background-color: var(--main-brown);
			background-image: svg('arrow', '[stroke]: #fff');
        }
    }
    .nav-next {
        right: 0;
    }
    .nav-prev {
        transform: rotate(180deg);
    }
}

@media (--mobile){
	.main-slider {
		&__slide {
			background-position: top left 20%;
			height: 100vh;
		}
		&__info {
			height: 63%;
			top: 55%;
			&::before {
				width: calc(100% + 22px);
				height: calc(100% + 22px);
				top: -16px;
				left: -16px;
			}
		}
		.owl-dots {
			bottom: 20px;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
		.owl-dot {
			width: 16px;
			height: 16px;
			margin: 0;
			border-color: transparent;
			&::after {
				background: #d0d0d0;
			}
			&.active {
				color: #2e3034;
				border-color: transparent;
				&::after {
					width: 4px;
					height: 4px;
					background: currentColor;
				}
			}
		}
	}
	.main-slider-navs {
		display: none;
	}
}

.set-products {
	width: calc(100% + 20px);
	margin: 0 -10px 50px;
	.page--individual & {
		margin-top: 75px;
		margin-bottom: 75px;
		.product__image a {
			display: block;
			padding: 0 40px;
		}
		.product__info {
			text-align: center;
			margin-top: 20px;
		}
		.product__price {
			margin-top: 10px;
			font-size: 15px;
		}
	}
	&__slide {
		padding: 0 10px;
		width: 100%;
		display: flex;
	}
}
.set-products-navs {
	[class*=nav] {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		background-color: transparent;
		background-image: svg('arrow', '[stroke]: var(--main-brown)');
		background-position: center;
		background-repeat: no-repeat;
		border: 1px solid var(--main-brown);
		&:hover {
			background-color: var(--main-brown);
			background-image: svg('arrow', '[stroke]: white');
		}
	}
	.nav-next {
		right: -40px;
	}
	.nav-prev {
		left: -40px;
		transform: rotate(180deg);
	}
	.simply-navs & {
		[class*=nav] {
			border: 0;
			background-image: svg('arrow', '[stroke]: #686c76');
			&:hover {
				background-color: transparent;
				background-image: svg('arrow', '[stroke]: var(--main-brown)');
			}
		}
		.nav-next {
			right: 0;
		}
		.nav-prev {
			left: 0;
		}
	}
	.simply-navs--outside & {
		.nav-next {
			right: -20px;
		}
		.nav-prev {
			left: -20px;
		}
	}
}

@media (--mobile){
	.set-products .product-tile {
		border: 0;
	}
}

.compact-navs {
	[class*=nav] {
		position: absolute;
		bottom: 0;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-image: svg('arrow', '[stroke]: #686c76');
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		&:hover {
			background-image: svg('arrow', '[stroke]: var(--main-brown)');
		}
	}
	.nav-prev {
		left: -10px;
		transform: rotate(180deg) translateY(-2px);
	}
	.nav-next {
		left: 60px;
	}
}

.carousel {
	position: relative;
	&__title,
	&__btn {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}
	&__title {
		top: 0;
	}
	&__btn {
		bottom: 55px;
		transition: .2s;
		&[class*="--primary"]:hover{
			background: var(--dark-gray);
			border-color: var(--dark-gray);
			color: var(--main-brown);
		}
	}
	&--show-room &__item {
		width: 100%;
		height: 60vw;
		max-height: calc(100vh - 80px);
	}
	&--bg-img &__item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
@media (--mobile) {
	.carousel {
		&__title,
		&__btn {
			position: relative;
		}
		&__title {
			margin: 1em;
			top: auto;
			left: auto;
			transform: none;
			&[class*="--dark-block"] {
				padding: 0;
				background: none;
				color: var(--dark-gray);
				text-align: left;
			}
		}
		&__btn {
			position: relative;
			top: auto;
			bottom: auto;
			margin: 23px auto 25px;
			left: 50%;
			transform: translateX(-50%);
		}
		&--mobile-only {
			width: 100%;
			position: relative;
			.owl-stage-outer {
				overflow: hidden;
			}
			.owl-item {
				float: left;
			}
		}
	}
}

.dark-navs {
	[class*=nav] {
		font-size: 30px;
		position: absolute;
		top: 50%;
		margin-top: -1em;
		width: 2em;
		height: 2em;
		background-color: var(--dark-gray);
		background-image: svg('arrow', '[stroke]: #969caa');
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		background-size: 0.5em;
		&:hover {
			background-color: var(--main-brown);
			background-image: svg('arrow', '[stroke]: white');
		}
	}
	.nav-prev {
		left: 0;
		transform: rotate(180deg) translateY(-2px);
	}
	.nav-next {
		right: 0;
	}
	&--outside {
		.nav-prev {
			left: -80px;
			.sale-products-slider & {
				left: -50px;
			}
		}
		.nav-next {
			right: -80px;
			.sale-products-slider & {
				right: -50px;
			}
		}
	}
	&--compact {
		[class*=nav] {
			top: auto;
			bottom: 0;
		}
		.nav-prev {
			left: 0;
			transform: rotate(180deg);
		}
		.nav-next {
			left: 2.2em;
		}
	}
}
@media (--mobile){
	.dark-navs {
		[class*=nav] {
			font-size: 20px;
		}
		&--outside {
			.nav-prev {
				left:0;
			}
			.nav-next {
				right: 0;
			}
		}
	}
}

.arrow-thin-navs {
	[class*="nav"]{
		position: absolute;
		font-size: 25px;
		width: 2em;
		height: 2em;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		background-color: transparent;
		background-image: svg('arrow-thin', '[fill]: #d4d4d4');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		&:hover {
			background-image: svg('arrow-thin', '[fill]: var(--main-brown)');
		}
	}
	.nav-next {
		right: 0;
		transform: rotate(180deg);
	}
	.nav-prev {
		left: 0;
	}
}
@media (--mobile){
	.arrow-thin-navs {
		[class*="nav"]{
			font-size: 15px;
		}
	}
}

.news-slider {
	&, &.tile-block {
		padding: 40px 0;
		margin-top: 20px;
		.page--article .heading + & {
			margin-top: 45px;
		}
	}
	.owl-item &__slide &__img img {
		/*width: auto;
		height: 100%;*/
		max-height: 480px;
		object-fit: contain;
		margin: 0 auto;
	}
	.owl-item &__slide &__img .img {
		width: 100%;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.owl-item &__slide &__content {
		flex-wrap: wrap;
		align-content: flex-start;
		padding-bottom: 80px;
		position: relative;
		> * {
			width: 100%;
		}
	}
	&__title {
		font-size: 16px;
		margin-bottom: 10px;
	}
	&__buttons,
	&.tile-block &__buttons {
		position: absolute;
		left: 10px;
		bottom: 0;
		.btn {
			margin: 0;
			&[class*="--medium"]{
				padding-left: 73px;
				padding-right: 73px;
			}
		}
	}
}
@media (--small-down){
	.news-slider {
		.dark-navs--outside{
			[class*="nav-"] {
				top: 25vw;
			}
			.nav-prev {
				left: 0;
			}
			.nav-next {
				right: 0;
			}
		}
		&__slide {
			align-items: flex-start;
			align-content: flex-start;
		}
		.owl-item &__slide &__img {
			height: 50vw;
			margin-bottom: 40px;
			img {
				object-fit: contain;
				height: auto;
				max-height: 100%;
			}
		}
		.owl-item &__slide &__content {
			padding: 0 30px;
		}
		&__buttons,
		&.tile-block &__buttons {
			position: relative;
			left: auto;
			bottom: auto;
			margin-top: 20px;
		}
	}
}

@media (--mobile){
	.news-slider,
	.tile-block.news-slider {
		padding: 30px 0;
		margin-top: 0;
		margin-bottom: 0;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 5px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: var(--main-white);
		}
		&__buttons .btn {
			width: 100%;
			max-width: 270px;
			text-align: center;
		}
	}
}

.sales-slider,
.master-class-slider {
	margin-top: 0.5em;
	margin-bottom: 35px;
	&__slide {
		width: 100%;
		padding: 45px;
		display: flex;
		justify-content: flex-end;
		background-position: center;
		background-repeat: no-repeat;
	}
	.tile-block {
		flex-basis: 390px;
	}
}
.master-class-slider {
	margin-bottom: 0;
}
@media (--mobile){
	.sales-slider,
	.master-class-slider {
		margin-top: 20px;
		margin-bottom: 0;
		&__slide {
			display: block;
			padding: 0;
			padding-top: 175px;
			background-size: contain;
			background-position: top center;
		}
		.dark-navs--compact {
			[class*="nav-"]{
				top: 95px;
			}
			.nav-prev {
				left: -15px;
			}
			.nav-next {
				left: auto;
				right: -15px;
			}
		}
	}
	.master-class-slider {
		&__slide {
			background-size: auto 175px;
		}
	}
}

.sale-products-slider {
	margin-top: 35px;
}
@media (--mobile){
	.sale-products-slider {
		margin-top: 0;
		margin-bottom: 30px;
		.set-products__slide {
			padding-bottom: 30px;
		}
	}
}

.modal-slider {
	.modal__slider {
		width: 100%;
	}
	.owl-item {
		padding: 0 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.slide-title {
		font-weight: normal;
		margin-top: 50px;
	}
}
@media (--mobile){
	.modal-slider {
		.owl-item {
			padding: 0 40px;
		}
		.slide-title {
			margin-top: 20px;
		}
	}
}

[class*="navs"].disabled,
[class*="dots"].disabled,
.owl-nav.disabled {
	display: none;
}