@import "../colors.css";
@import "../media.css";
@import "../selectors.css";

.tile-block {
    padding: 30px 40px;
    background: white;
    margin-bottom: 20px;
    position: relative;
	width: 100%;
	.sales-slider &,
	.master-class-slider & {
		margin-bottom: 0;
	}
	.page--contacts & {
		padding-bottom: 50px;
	}
	&__icon {
		position: absolute;
		width: 28px;
		height: 32px;
		top: 0;
		right: 28px;
		.i-icon {
			fill: var(--main-brown);
			width: 100%;
			height: 100%;
		}
	}
	&--dark {
		background: var(--dark-gray);
		color: white;
	}
	&__heading-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
    h2 {
        font-family: "Bebas Neue Book";
        color: var(--main-brown);
		margin: 0 0 15px;
		&.base-color {
			color: #3d3b33;
		}
    }
    &__text {
        font-weight: 300;
        line-height: 18px;
		align-self: stretch;
		:--heading {
			color: #3d3b33;
		}
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
		.sales-slider &,
		.master-class-slider &{
			margin-top: 50px;
			margin-bottom: 15px;
		}
		.collection-block & {
			margin-bottom: 15px;
		}
    }
    &__image {
        float: left;
        margin-right: 20px;
		&--center {
			float: none;
			margin: 0;
			margin-bottom: 20px;
			text-align: center;
		}
    }
    &__video {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		display: table;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
		&--custom {
			padding-bottom: 53.95%;
		}
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
			cursor: pointer;
        }
		.video-preview,
		.video-custom-player {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				height: 100%;
				width: auto;
				object-fit: cover;
			}
		}
    }
    &--video {
		padding: 0 0 87px;
		justify-content: flex-start;
		.btn {
			position: absolute;
			left: 40px;
			bottom: 30px;
		}
		.page--individual & {
			padding: 20px 0 0;
			margin-bottom: 50px;
		}
    }
	&--video &__content {
		position: relative;
		padding: 30px 40px;
		align-self: stretch;
	}
	&__socials {
		.i-icon {
			width: 40px;
			height: 40px;
			padding: 8px;
			color: var(--main-brown);
			border: 1px solid currentColor;
			text-align: center;
			vertical-align: middle;
			margin-right: 5px;
			&:hover {
				color: white;
			}
		}
		.icon {
			width: 100%;
			height: 100%;
			fill: currentColor;
		}
	}
	&__note {
		color: #b7b7b7;
		font: 14px "Roboto";
		&--big {
			font-size: 15px;
			color: var(--dark-gray);
		}
	}
	&__heading {
		font: 24px "Bebas Neue Book";
		.sales-slider &,
		.master-class-slider & {
			margin-bottom: 10px;
			&, :--heading {
				font: 30px "MyriadPro";
				color: var(--main-brown);
				text-transform: uppercase;
			}
		}
	}
	&--collection {
		padding: 0;
		color: white;
		display: flex;
		min-height: 330px;
		.tile-block__wrapper {
			display: flex;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top center;
		}
		&--big {
			@media (--big){
				min-height: 540px;
			}
		}
	}
	&--collection-image {
		padding: 0;
	}
	&--collection-image &__image {
		width: 100%;
		float: none;
		margin: 0;
		img {
			width: 100%;
		}
	}
	&--collection-image &__content {
		padding: 30px 30px 80px;
		.page--collections & {
			padding-bottom: 35px;
		}
		.btn {
			max-width: 310px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			bottom: 35px;
			left: 10%;
			right: 10%;
			.page--collections & {
				text-align: center;
				padding-left: 30px;
				padding-right: 30px;
				position: relative;
				left: auto;
				right: auto;
				bottom: auto;
			}
		}
	}
	&--collection-image .collection {
		&__note {
			color: #b7b7b7;
			text-align: center;
			font: 14px "Roboto";
		}
		&__heading {
			color: var(--dark-gray);
			text-align: center;
			margin-bottom: 40px;
			font: 24px "Bebas Neue Book";
		}
	}
    .btn {
        margin: 15px 0;
		.master-class-slider & {
			margin-bottom: 0;
		}
    }
	>*:last-child,
	>*:last-child > *:last-child {
		margin-bottom: 0;
	}
	&--bordered {
		padding: 40px 30px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			border: 1px solid var(--main-brown);
			top: 7px;
			bottom: 7px;
			left: 7px;
			right: 7px;
		}
	}
	&__wrapper {
		position: relative;
	}
	&.no-margin {
		margin: 0;
	}
	&--individual {
		padding: 35px;
		.btn--arrow {
			padding-right: 70px;
			max-width: 310px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&--individual-big {
		padding: 35px;
		display: block;
		.btn--arrow {
			padding-left: 30px;
			padding-right: 50px;
			display: block;
			max-width: 310px;
			margin: 65px auto 0;
		}
	}
	&--individual &__image,
	&--individual-big &__image {
		float: none;
		margin: 50px auto 35px;
		text-align: center;
		width: 100%;
		.page--sketches & {
			margin: 30px auto 10px;
			img {
				height: 230px;
				width: auto;
				object-fit: cover;
			}
		}
	}
	&--individual-big &__image {
		margin-top: 30px;
	}
	&--reviews {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	&--small {
		padding: 20px 25px 50px;
	}
	&--image {
		padding: 0;
	}
	&--image &__image {
		float: none;
		margin: 0;
		img {
			width: 100%;
		}
	}
	&--image &__content {
		padding: 30px 40px;
	}
	&--small.tile-block--image &__content {
		padding: 16px 25px 50px;
		.page--news & {
			padding-bottom: 26px;
		}
	}
	&--big {
		padding: 40px 50px 70px;
		:--heading:first-child {
			margin-top: 0;
		}
	}
	&--horizontal {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
	}
	&--horizontal &__image {
		width: calc(50% - 10px);
		img {
			display: block;
			width: auto;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
	&--horizontal &__content {
		width: calc(50% + 10px);
	}
	&--scrollable {
		padding: 40px 33px 55px 40px;
	}
	&--scrollable &__heading {
		margin-bottom: 1.5em;
		:--heading {
			margin-bottom: 10px;
		}
		&--date {
			margin-bottom: 10px;
		}
	}
	&--centered &__content,
	&--centered &__note,
	&--centered &__heading {
		text-align: center;
	}
	&--centered &__heading {
		margin: 10px auto 15px;
	}
	&--centered {
		.btn--arrow {
			padding-left: 40px;
			padding-right: 75px;
		}
	}
}
@media (--small-up){
	.tile-block {
		&--bordered--no-mobile{
			padding: 40px 30px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				border: 1px solid var(--main-brown);
				top: 7px;
				bottom: 7px;
				left: 7px;
				right: 7px;
			}
		}
	}
}
@media (--mobile),(--small){
	.tile-block {
		.page--collection &--collection--big &__wrapper,
		.page--collection-process &--collection &__wrapper,
		.page--article &--collection &__wrapper {
			padding: 40px;
		}
		.page--collection &--collection--big,
		.page--collection-process &--collection,
		.page--article &--collection{
			&.mobile-fullwidth {
				padding: 0;
				margin-bottom: 0;
			}
			.collection__info {
				position: relative;
				top: 0;
				left: 0;
				transform: translate(0,0);
				width: 100%;
			}
		}
	}
}
@media (min-width: 690px) and (--small-down){
	.tile-block {
		&--individual {
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			align-items: flex-start;
			max-height: 310px;
		}
		&--individual &__image {
			width: 40%;
			height: 100%;
			margin: 0;
			order: -1;
		}
		&--individual &__heading-link,
		&--individual &__text {
			width: 60%;
		}
		&--individual .btn {
			margin-top: 25px;
			max-width: 300px;
		}
	}
}
@media (max-width: 689px) { /* custom mobile */
	.tile-block {
		&--individual {
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			align-items: stretch;
			padding: 35px 20px;
		}
		&--individual &__heading-link {
			display: none;
		}
		&--individual &__image {
			margin: 25px auto 0;
		}
		&--individual .btn {
			order: -1;
			padding-right: 50px;
			margin: 0 auto 15px;
		}
	}
}
@media (min-width: 899px) and (--small-down){
	.tile-block {
		&--individual {
			max-height: 320px;
		}
	}
}
@media (--small){
	.tile-block {
		&--individual {
			.page--sketches & .btn {
				margin-left: 0;
			}
		}
	}
}
@media (--mobile){
	.tile-block {
		padding: 20px;
		&.mobile-delimiter::after {
			content: '';
			display: block;
			width: 100%;
			height: 20px;
			position: absolute;
			left: 0;
			bottom: -20px;
			background: var(--main-white);
		}
		&--video,
		&--image,
		&--collection-image {
			padding: 0;
		}
		&--video &__content,
		&--image &__content {
			padding: 20px;
		}
		&--bordered--mobile{
			padding: 9px 8px;
			position: relative;
			margin: 10px 0 20px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			&:before {
				content: '';
				display: block;
				position: absolute;
				border: 1px solid var(--main-brown);
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
			}
		}
		&--video &__content {
			padding: 0;
		}
		&.mobile-minify {
			border-top: 1px solid #e1e1e1;
			padding: 0;
			margin-bottom: 0;
		}
		&.mobile-minify &__icon,
		&.mobile-minify &__image,
		&.mobile-minify &__video,
		&.mobile-minify &__text,
		&.mobile-minify .btn--arrow{
			display: none;
		}
		&.mobile-minify &__heading-link {
			padding: 1em 20px;
			font-size: 24px;
			display: block;
			width: 100%;
			background-image:  svg('arrow-right', '[fill]: var(--main-brown)');
			background-repeat: no-repeat;
			background-position: right 9% center;
			padding-right: 18%;
			h2 {
				margin: 0;
				font-size: inherit;
				color: var(--dark-gray);
			}
		}
		&.mobile-fullwidth {
			width: 100vw;
		}
		&.mobile--smallGutter {
			padding: 5px;
		}
		&--individual.mobile-minify &__heading {
			display: none;
		}
		&--individual.mobile-minify {
			margin-bottom: 16px;
			.btn--arrow {
				display: block;
				margin: 0;
				border-color: var(--dark-gray);
				background-color: var(--dark-gray);
				background-position: right 25px center;
				padding-right: 70px;
			}
		}
		&--individual-big {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			.btn {
				padding: 9px 60px 9px 25px;
				margin-top: 0;
			}
		}
		&--individual-big &__image {
			margin: 0 auto;
			max-width: 47%;
		}
		&--individual-big &__heading,
		&--individual-big &__heading-link {
			margin: 20px auto 10px;
			text-align: center;
			h2 {
				color: #fff;
				font-size: 21px;
				margin: 0;
			}
		}
		&--collection-image {
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 20px;
				position: absolute;
				left: 0;
				bottom: -20px;
				background: var(--main-white);
			}
			[class*="col-"]:last-of-type & {
				margin-bottom: 0;
				&::after {
					display: none;
				}
			}
		}
		&--collection-image &__content {
			padding: 20px 20px 30px;
			.btn {
				position: relative;
				left: auto;
				right: auto;
				bottom: auto;
				padding-left: 20px;
				text-align: left;
				max-width: 200px;
			}
		}
		&--collection-image .collection {
			&__heading {
				margin-bottom: 15px;
				font: 21px "Bebas Neue Book";
			}
		}
		&--reviews {
			padding: 20px 20px 0;
			margin-bottom: 0;
		}
		&--big {
			padding: 30px 20px;
		}
		&--small.tile-block--image &__content {
			padding: 16px 20px 30px;
		}
		&--horizontal {
			flex-direction: column;
		}
		&--horizontal &__image {
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
		&--horizontal &__content {
			width: 100%;
		}
		&--scrollable &__content {
			height: auto!important;
		}
		.page--collection-process &--scrollable {
			margin-bottom: 0;
		}
		.page--collection-process &--scrollable &__heading,
		.page--collection-process &--scrollable &__heading :--heading{
			margin-bottom: 10px;
		}
		.sales-slider &--bordered--no-mobile {
			padding: 25px 0;
			margin-bottom: 0;
			.btn {
				width: 100%;
				max-width: 300px;
				text-align: center;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.master-class-slider  &--bordered--no-mobile {
			padding: 25px 0;
		}
		.sales-slider &--bordered--no-mobile  &__heading,
		.sales-slider &--bordered--no-mobile  &__heading :--heading,
		.master-class-slider &--bordered--no-mobile  &__heading,
		.master-class-slider &--bordered--no-mobile  &__heading :--heading {
			font-size: 24px;
		}
		.sales-slider &--bordered--no-mobile  &__text,
		.master-class-slider &--bordered--no-mobile  &__text {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}
}

.tile-page {
	background: white;
	margin-bottom: 40px;
	&__head {
		padding: 20px 35px;
		border-bottom: 1px solid #ebebeb;
		position: relative;
	}
	&__body {
		padding: 40px 35px;
		.page--profile & {
			padding: 30px 45px 70px;
		}
		.page--news & {
			padding-top: 20px;
		}
	}
	&__foot {
		background: #f6f6f6;
		border: 1px solid #dcdcdc;
	}
	.basket {
		&__body {
			padding: 0 35px;
		}
		&__foot {
			padding: 20px 35px;
			background: #dcdcdc;
			width: 100%;
		}
	}
}
@media (--mobile) {
	.tile-page {
		margin-bottom: 0;
		&__head {
			padding: 20px 25px;
		}
		&__body,
		&__foot {
			&, .page--profile & {
				padding: 0;
			}
		}
		&__foot > [class*="grid"] {
			flex-direction: column;
			flex: 0 0 auto;
			[class*="col"] {
				flex: 0 0 auto;
			}
		}
		.basket {
			&__body {
				padding: 0;
			}
			&__foot {
				padding: 20px;
				padding-left: calc(39% + 20px);
				flex: 0 0 auto;
			}
		}
	}
}