@import "../../media.css";

.products-list {
    margin-left: -20px;
	display: flex;
	flex-wrap: wrap;
}
@media (--small){
	.index-new-products .products-list {
		.product-tile {
			display: none;
			&:first-of-type,
			&:last-of-type {
				display: block;
			}
		}
	}
}
@media (--mobile){
	.products-list {
		width: 100vw;
		margin-left: calc(-50vw + 50%);
	}
	.index-new-products {
		margin-top: 15px;
		margin-bottom: 35px;
		.block-heading {
			text-align: center;
		}
	}
}