@import "../../media.css";
@import "../../colors.css";

.product-tile {
    text-align: center;
    width: calc(33.3% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    background: white;
    position: relative;
    &__wrap {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
		padding-top: 100%;
    }
    &__image {
		width: 100%;
		padding-top: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;
        a {
            display: flex;
			width: 100%;
            height: 100%;
			position: absolute;
			top: 0;
        }
        img {
            margin: 0 auto;
			height: 100%;
			width: auto;
        }
    }
	&--half  &__wrap {
		padding-top: 43%;
		.product-tile__image {
			padding-top: 43%;
		}
		img {
			width: 100%;
			height: auto;
			max-height: 200%;
			margin: auto;
			display: block;
			position: absolute;
			left: 0;
			bottom: -5%;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
        padding: 20px;
	}
    &__name {
        color: #333333;
        margin: 20px 0;
		.product-tile--half & {
			margin: 0 0 15px;
		}
    }
    &__price {
        color: var(--main-gray);
        margin: 0 0 20px;
		font-size: 15px;
		.product-tile--half & {
			margin: 0;
		}
		.product-tile:hover & {
			color: #333333;
		}
    }
    &__like {
        position: absolute;
        bottom: 20px;
        left: 20px;
		z-index: 2;
		.i-icon {
			stroke: var(--main-brown);
			fill: transparent;
			transition: all .3s ease;
			.product-tile:hover & {
				stroke: transparent;
				fill: white;
			}
		}
    }
	&__overlay {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.4);
		display: flex;
		opacity: 0;
		transform: scale(0);
		transition: opacity .3s ease;
		.product-tile:not(.product-tile--half-wrapper):hover & {
			transform: scale(1);
			opacity: 1;
		}
		a {
			display: block;
			border: 1px solid white;
			margin: auto;
			padding: 15px 25px;
		}
		.i-icon {
			fill: white;
			width: 18px;
		}
	}
	&--half-wrapper {
		background: none;
	}
    &--half {
		margin-left: 0;
		width: 100%;
		&:last-of-type {
			margin-bottom: 0;
		}
    }
}

@media (--max-1300) {
    .product-tile {
        width: calc(50% - 20px);
		&--half {
			width: 100%;
		}
    }
}
@media (--medium){
	.product-tile {
		&--half &__wrap,
		&--half &__image  {
			padding-top: 45%;
		}
    }
}

@media (--mobile) {
    .product-tile {
        width: 100%;
        height: auto;
        min-height: 0;
        padding: 0;
		margin: 0;
		border: 1px solid var(--light-gray);
		border-top: 0;
        &__wrap {
            position: static;
        }
		&__like {
			top: 25px;
			right: 25px;
			bottom: auto;
			left: auto;
		}
		&__overlay {
			display: none;
		}
    }
}
