@import "../../colors.css";
@import "../../media.css";
@import "../../selectors.css";

.collection-slider {
	&__wrapper {
		margin-top: -71px;
		margin-bottom: 50px;
		position: relative;
	}
	&__slide {
		width: 100%;
		height: 680px;
		background-position: center;
		background-size: cover;
	}
	&__buttons {
		position: absolute;
		left: auto;
		bottom: 30px;
		z-index: 3;
	}
	.owl-carousel .dark-navs {
		width: calc(100% - 340px);
		position: absolute;
		top: 50%;
	}
	&__info {
		position: absolute;
		top: 0;
		right: 0;
		width: 340px;
		height: 100%;
		z-index: 3;
		background: var(--dark-gray);
	}
	.collection-info {
		&__wrapper {
			padding: 100px 50px 50px;
			text-align: center;
		}
		.collection {
			&__heading {
				margin: 10px auto 2em;
				:--heading {
					font: 30px "Bebas Neue Bold";
				}
			}
			&__text {
				color: #a4a4a4;
			}
		}
	}
}