@import "../../colors.css";
@import "../../media.css";

.collection-block {
	padding-top: 35px;
    padding-bottom: 0;
    .tile-block {
        &__text {
            flex: 1;
        }
    }
    &__top {
        display: flex;
        padding-bottom: 35px;
        border-bottom: 1px solid var(--main-white);
    }
    &__image {
        flex: 0 0 230px;
        margin-right: 20px;
        img {
			display: block;
            height: 230px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		-ms-flex: 1 1 50%;
		h2 {
			margin-bottom: 0.5em;
		}
    }
	&__btn .btn {
		margin: 0;
	}
    &__bottom {
        display: flex;
        margin: 0 -40px;
        margin-bottom: 10px;
        padding-top: 22px;
        h2 {
            margin-left: 40px;
        }
        > * {
            width: 50%;
        }
    }
    &__left {
        border-right: 1px solid var(--main-white);
    }
}
.collection-block-list {
    margin-top: 20px;
    &__item {
        a {
            font-family: 'MyriadPro';
            font-size: 18px;
            color: #5a5e66;
            text-decoration: none;
            padding: 7px 0;
            padding-left: 40px;
            display: block;
            &:hover {
                background: #ededed;
                color: var(--main-brown);
                text-decoration: underline;
                background-image:  svg('arrow-right', '[fill]: var(--main-brown)');
                background-repeat: no-repeat;
                background-position: right 20px center;
            }
        }
    }
    &__btn {
        margin: 10px 0;
        margin-left: 40px;
		&:last-child {
			margin-bottom: 25px;
		}
    }
}

@media (--mobile){
	.collection-block {
		&.mobile-minify &__top,
		&.mobile-minify &__bottom {
			display: none;
		}
	}
}