@import "../../colors.css";
@import "../../media.css";
@import "../../selectors.css";

.collection-slider {
	position: relative;
	z-index: -1;
	background: var(--dark-gray);
	height: 700px;
	@media (min-width: 800px) and (max-width: 1024px) {
		height: 566px;
	}
	&.open {
		z-index: 2;
	}
	&__wrapper {
		margin-top: -71px;
		margin-bottom: 50px;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	.owl-dots {
		padding: 10px 0 15px;
		background: rgba(46,48,52,0.7);
		.owl-dot.active {
			background: var(--main-brown);
		}
	}
	&__slide {
		width: 100%;
		height: 700px;
		background-position: center;
		background-size: cover;
		@media (min-width: 800px) and (max-width: 1024px) {
			height: 566px;
		}
	}
	&__video {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: #101010;
		video {
			position: absolute;
			width: 100%;
			height: auto;
			max-height: 700px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: .3s;
		}
		&.open {
			z-index: 2;
		}
	}
	&__actions {
		position: relative;
		width: 100%;
	}
	&__buttons {
		position: absolute;
		left: 0;
		bottom: 30px;
		z-index: 3;
	}
	.owl-carousel .dark-navs {
		width: 100%;
		position: absolute;
		top: 50%;
		transition: width .3s;
	}
	&__info {
		position: absolute;
		top: 0;
		right: 0;
		width: 340px;
		height: 100%;
		z-index: 5;
		background: rgba(46, 48, 52, 0.8);
		transition: transform .3s;
		transform: translateX(100%);
		.btn-info {
			position: absolute;
			top: 20px;
			right: 20px;
			color: white;
			background: transparent;
			border-color: currentColor;
			border-radius: 50%;
			transform: translateX(-340px);
			transition: .3s;
			&:hover {
				color: var(--main-brown);
			}
			span {
				position: absolute;
				width: 2px;
				height: 50%;
				background: currentColor;
				top: 25%;
				left: 50%;
				margin-left: -1px;
				transform-origin: center;
				transition: transform .3s;
				&:first-child {
					transform: scaleY(0.15) translateY(-70px);
				}
				&:last-child {
					transform: scaleY(0.7) translateY(4px);
				}
			}
		}		
		&.open {
			transform: translateX(0);
			.btn-info {
				transform: translateX(0);
				border-color: transparent;
				span {
					&:first-child {
						transform: scaleY(1) translateY(0) rotate(45deg);
					}
					&:last-child {
						transform: scaleY(1) translateY(0) rotate(-45deg);
					}
				}
			}
			~ .collection-slider .owl-carousel .dark-navs,
			~ .collection-slider__video video {
				width: calc(100% - 340px);
			}
			@media (min-width: 1900px){
				~ .collection-slider__video video {
					width: 100%;
				}
			}
		}
	}
	&__wrapper .collection-info {
		&__wrapper {
			padding: 100px 50px 50px;
			text-align: center;
		}
		.collection {
			&__heading {
				margin: 10px auto 2em;
				:--heading {
					font: 30px "Bebas Neue Bold";
				}
			}
			&__text {
				color: #a4a4a4;
			}
		}
	}
	&__tabs {
		position: absolute;
		right: 0;
		bottom: -1px;
		z-index: 6;
		display: flex;
		justify-content: flex-end;
	}
	&__tab {
		width: 100px;
		height: 100px;
		padding: 15px 20px;
		text-align: center;
		background-color: #7c7e80;
		background-position: bottom 15px center;
		background-repeat: no-repeat;
		cursor: pointer;
		margin-left: 16px;
		&.opened {
			background-color: var(--main-white);
			pointer-events: none;
		}
		
		
		&__text {
			font: 24px/1 "Bebas Neue Book";
			color: var(--dark-gray);
		}
		&--photo {
			background-image: url(var(--img-path)/icon-photo.png);
		}
		&--video {
			background-image: url(var(--img-path)/icon-video.png);
		}
	}
}
@media (--mobile), (--small){
	.collection-slider {
		height: 450px;
		&__wrapper {
			margin-top: 0;
			> [class*="grid"] {
				align-items: flex-start;
			}
		}
		&__info {
			position: relative;
			order: -2;
			width: 100%;
			background: var(--dark-gray);
			.btn-info {
				display: none;
			}
			&.open {
				~ .collection-slider .owl-carousel .dark-navs {
					width: 100%;
				}
				~ .collection-slider__video video {
					width: auto;
				}
			}
		}
		&__slide,
		&__video {
			height: 450px;
		}
		&__video {
			left: 0;
			bottom: 0;
			video {
				max-width: 100%;
				max-height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		&__wrapper .collection-info {
			&__wrapper {
				padding: 20px 20px 30px;
			}
			.collection {
				&__heading {
					margin-bottom: 1em;
				}
			}
		}
		&__wrapper .actions__wrapper {
			order: -1;
		}
		&__tabs {
			position: relative;
			left: 0;
			top: 0;
			bottom: 0;
			display: flex;
			width: 100vw;
			margin-left: calc((100vw - 100%) / -2);
		}
		&__tab {
			position: relative;
			width: 50%;
			margin: 0;
		}
	}
}
@media (--mobile){
	.collection-slider {
		&__wrapper {
			margin: 0;
		}
	}
}