@import "../../colors.css";
@import "../../media.css";


.collection-block {
	padding-top: 35px;
    padding-bottom: 0;
	margin-bottom: 0;
    .tile-block {
        &__text {
            flex: 1;
        }
    }
    &__top {
        display: flex;
        padding-bottom: 35px;
		min-height: 230px;
    }
    &__image {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
        flex: 0 0 230px;
        margin-right: 20px;
        img {
			display: block;
            object-fit: cover;
			overflow: hidden;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		-ms-flex: 1 1 50%;
		h2 {
			margin-bottom: 0.5em;
		}
    }
	&__btn .btn {
		margin: 0;
	}
    &__bottom {
        display: flex;
        border-top: 1px solid var(--main-white);
        margin: 0 -40px;
        margin-bottom: 10px;
        h2 {
            margin-left: 40px;
        }
        > * {
            width: 50%;
			padding: 22px 0 74px;
			position: relative;
        }
    }
    &__left {
        border-right: 1px solid var(--main-white);
    }
}
.collection-block-list {
    margin-top: 20px;
    &__item {
        a {
            font-family: 'MyriadPro';
            font-size: 18px;
            color: #5a5e66;
            text-decoration: none;
            padding: 7px 0;
            padding-left: 40px;
            display: block;
            &:hover {
                background: #ededed;
                color: var(--main-brown);
                text-decoration: underline;
                background-image:  svg('arrow-right', '[fill]: var(--main-brown)');
                background-repeat: no-repeat;
                background-position: right 20px center;
            }
        }
    }
    &__btn {
		margin: 0;
		position: absolute;
		left: 40px;
		bottom: 22px;
		.btn {
			margin: 0;
		}
    }
}
@media (--small-up){
	.collection-block {
		.tile-block__heading-link {
			display: none;
		}
	}
}
@media (--small),(--medium){
	.collection-block {
		&__top {
			height: auto!important;
		}
	}
}
@media (--small), (--medium) {
	.collection-block__bottom > * {
		padding-bottom: 104px;
	}
	.collection-block-list {
		column-count: 2;
		&__item {
			-ms-column-break-inside: avoid;
			-moz-column-break-inside: avoid;
			-webkit-column-break-inside: avoid;
			column-break-inside: avoid;
			break-inside: avoid;
			&:nth-of-type(7) ~ & {
				display: none;
			}
		}
		&__btn {
			bottom: 37px;
		}
	}
}
@media (--mobile){
	.collection-block {
		&.mobile-minify &__top,
		&.mobile-minify &__bottom {
			display: none;
		}
	}
}